.name {
    color:black;
    font-style: italic;
}
.sneaker-pic{
    width: 300px;
    height: 200px;
    border: 1px solid;
}
.price{
    font-size: 15;
    font-family: 'Georgia';
    font-weight: bold;
    
}
